name: Deploy to VPS

on:
  workflow_run:
    workflows: ["CI/CD - Build and Push"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # port: ${{ secrets.SSH_PORT }} # opcional si no es 22
          script: |
            cd /path/to/your/app # Cambia a la ruta de tu proyecto en el VPS
            docker-compose pull
            docker-compose up -d
